const { logger } = require("../utils/logger");

async function processEvent({ type, event, data, timestamp }) {
	if (type !== "notification") {
		return;
	}

	const allowedEvents = [
<% if (isIdentityCreatedEventEnabled) { %>
		"identity.created",
<% } %>
<% if (isTransactionDoneEventEnabled) { %>
		"transaction.done",
<% } %>
<% if (isTransactionFailedEventEnabled) { %>
		"transaction.failed",
<% } %>
	];

	if (!allowedEvents.includes(event)) {
		logger.info(`Event ${event} not supported`);
		return;
	}

	logger.info(
		`Processing event, type: ${type} - event: ${event} - resource ID: ${data} - timestamp: ${timestamp}`
	);

	const handler = eventNameToHandler(event);

	if (!handler)
		logger.info(`Event ${event} not supported`);

	await handler(data);
}

const eventNameToHandler = (event) => {
	return require(`./${event.replaceAll(".", "-")}`)
};

module.exports = {
	processEvent,
};
