{
  "middleware": {
    "shutdown": {
      "enabled": false,
      "priority": 0
    },
    "compress": {
      "enabled": false,
      "priority": 1
    },
    "favicon": {
      "enabled": false,
      "priority": 2
    },
    "static": {
      "enabled": false,
      "priority": 3
    },
    "logger": {
      "enabled": false,
      "priority": 4
    },
    "json": {
      "enabled": false,
      "priority": 5
    },
    "urlencoded": {
      "enabled": false,
      "priority": 6
    },
    "multipart": {
      "enabled": false,
      "priority": 7
    },
    "cookieParser": {
      "enabled": false,
      "priority": 8
    },
    "session": {
      "enabled": false,
      "priority": 9
    },
    "appsec": {
      "enabled": false,
      "priority": 10
    },
    "router": {
      "enabled": true,
      "priority": 1000
    },
<% if (isWebHookEnabled) { %>
    "webHookAuth": {
      "enabled": true,
      "priority": 1,
  <% if (isCashOutEnabled) { %>
      "route": ["/deposit-notification", "/withdrawal-notification"],
  <% } else { %>
      "route": "/deposit-notification",
  <% } %>
      "module": {
        "name": "path:./middlewares/web-hook-auth.js"
      }
    },
    "mapDepositBody": {
      "enabled": true,
      "priority": 2,
      "route": "/deposit-notification",
      "module": {
        "name": "path:./middlewares/map-deposit-body.js"
      }
    },
  <% if (isCashOutEnabled) { %>
    "mapWithdrawalBody": {
      "enabled": true,
      "priority": 2,
      "route": "/withdrawal-notification",
      "module": {
        "name": "path:./middlewares/map-withdrawal-body.js"
      }
    },
  <% } %>
<% } %>
  },
  "orangepill": {
    "apiUrl": "http://api-gw:3000",
<% if (isWebHookEnabled) { %>
    "realmKey": "fc8fc499-65bd-466b-8659-4c4490a66fa1",
    "webSocketUrl": "wss://stream:3100",
<% } %>
<% if (isNotificationEnabled) { %>
    "notifications": {
      "blackList": ["6543e75767fe741d68b7a743"],
      "whatsappTemplates": {
        "defaultLanguage": "es",
        "es": {
          "transactionDone": "transaction-done-v1-es",
          "transactionFailed": "transaction-failed-v1-es",
          "withdrawalDone": "withdrawal-done-v1-es",
          "withdrawalFailed": "withdrawal-failed-v1-es",
          "depositDone": "deposit-done-v1-es",
          "depositFailed": "deposit-failed-v1-es",
          "exchangeDone": "exchange-done-v1-es",
          "exchangeFailed": "exchange-failed-v1-es",
          "balanceReceived": "balance-received-v1-es"
        },
        "en": {
          "transactionDone": "transaction-done-v1-en",
          "transactionFailed": "transaction-failed-v1-en",
          "withdrawalDone": "withdrawal-done-v1-en",
          "withdrawalFailed": "withdrawal-failed-v1-en",
          "depositDone": "deposit-done-v1-en",
          "depositFailed": "deposit-failed-v1-en",
          "exchangeDone": "exchange-done-v1-en",
          "exchangeFailed": "exchange-failed-v1-en",
          "balanceReceived": "balance-received-v1-en"
        }
      }
    },
<% } %>
<% if (isWebHookEnabled) { %>
    "virtualCurrency": {
      "id": "6543e7be4eb60c10fcd3998c",
      "name": "VIRTUAL_CURRENCY_NAME",
      "accountId": "6543e7bf4eb60c10fcd3998d"
    },
  <% if (isFeeTransactionEnabled) { %>
    "fees": {
      "deposit": {
        "type": "percentage",
        "value": 0,
        "accountId": "6543e75767fe741d68b7a743"
      }
    },
  <% } %>
<% } %>
<% if (isUnblockAccountEnabled) { %>
    "unblockAccount": {
      "days": 1
    },
<% } %>
  },
<% if (isWebSocketEnabled) { %>
  "webSocketClient": {
    "reconnectionAttempts": 3
  },
<% } %>
<% if (isPaymentsWayEnabled) { %>
  "paymentsWay": {
    "apiUrl": "https://qa.paymentsway.co",
    "depositSuccessStatuses": [34],
    "depositFailStatuses": [36],
    "withdrawalSuccessStatuses": [39],
    "withdrawalFailStatuses": [40]
  },
<% } %>
<% if (isMonoEnabled) { %>
  "mono": {
    "apiUrl": "https://api.sandbox.cuentamono.com",
    "currency": "COP",
    "accountId": "acc_3t9o06G7TqLwPKbhfVziGB",
    "depositSuccessStatuses": ["collection_intent_credited", "account_credited"],
    "depositFailStatuses": [],
    "withdrawalSuccessStatuses": ["batch_sent"],
    "withdrawalFailStatuses": ["collection_intent_failed", "bank_transfer_fallback_routing", "bank_transfer_rejected"]
  },
<% } %>
<% if (isPayOnTimeEnabled) { %>
  "payOnTime": {
    "apiUrl": "https://apiqa.pagueatiempo.io",
    "currency": "COP",
    "depositSuccessStatuses": [2],
    "depositFailStatuses": []
  },
<% } %>
  "server": {
    "port": 4000
  },
  "customer": {
    "operatorName": "Appen Colombia",
  }
}