<% if (isWebSocketEnabled) { %>
const { processEvent: messageHandler } = require("./web-socket/process-event");
<% } %>
const { logger } = require("./utils/logger");
const config = require("./config");
<% if (isWebSocketEnabled) { %>
const { WebSocketClient } = require("./web-socket/socket-client");
<% } %>
<% if (isCronJobEnabled) { %>
require("./jobs/unblock-account");
<% } %>
const { WebServer } = require("./web-server");

function main() {
	<% if (isWebSocketEnabled) { %>
	const options = {
		realmKey: config.orangepill.realmKey,
		maxReconnectAttempts: onfig.webSocketClient.reconnectionAttempts,
	};
	const client = new WebSocketClient(config.orangepill.webSocketUrl, options);
	client.setLogger(logger).setMessageHandler(messageHandler).initialize();
	<% } %>
	const webServer = new WebServer();
	webServer.start(config.server.port);
}

if (require.main === module) {
	main();
}
