NODE_ENV=development
ORANGEPILL_API_KEY=
<%_ if (isMonoEnabled) { _%>
MONO_API_KEY=
<%_ } _%>
<%_ if (isMonoEnabled && webHookUsesSignature) { _%>
MONO_WEBHOOK_SIGNATURE_SECRET=
<%_ } _%>
<%_ if (isPaymentsWayEnabled) { _%>
PAYMENTS_WAY_USERNAME=
PAYMENTS_WAY_PASSWORD=
<%_ } _%>
<%_ if (isPaymentsWayEnabled && webHookUsesBasicAuth) { _%>
PAYMENTS_WAY_WEBHOOK_COMMERCE_NAME=
PAYMENTS_WAY_WEBHOOK_COMMERCE_API_KEY=
<%_ } _%>