const { HttpStatusCode } = require("axios");
const { logger } = require("../utils/logger");
const { BaseError } = require("../errors/orangepill-errors");
const {
	issueCurrency,
	getAlias,
	getExchangeRate,
	sendTransaction,
	sendWhatsappMessage,
	blockAmount,
} = require("../services/orangepill-api");
<% if (isDatabaseEnabled) { %>
const Account = require("../db/models/Accounts");
<% } %>
const {
	VIRTUAL_CURRENCY_NAME,
	FEE_ACCOUNT_ID,
	FEE,
	TEMPLATE_TRANSACTION_FAILED,
	DEFAULT_WHATSAPP_TEMPLATE_LANGUAGE,
	VIRTUAL_CURRENCY_ACCOUNT_ID,
} = require("../utils/config");

const PAYMENT_SUCCESS_CODE = 2;
const TARGET_ASSET = "USD";

async function paymentNotification(req, res) {
	try {
		const response = mapPaymentNotificationBody(req.body);
		const { status, paymentId, amount, user, sourceAsset } = response;

		logger.info(
			`Received payment notification with payment id: ${paymentId} with value: ${amount} and user phone: ${user.phoneNumber}`
		);

		const userAccountAlias = `${VIRTUAL_CURRENCY_NAME}_VIRTUAL_${user.phoneNumber}`;
		logger.info(`Getting account alias: ${userAccountAlias}`);
		const { account: destinationAccountId } = await getAlias(userAccountAlias);

		if (status === PAYMENT_SUCCESS_CODE) {
			const convertedAmount = await getExchangeRate(
				sourceAsset,
				TARGET_ASSET,
				amount
			);
			logger.info(
				`Exchange Rate: ${amount} ${sourceAsset} is equivalent to ${convertedAmount} ${TARGET_ASSET}.`
			);

			await issueCurrency(convertedAmount);
			logger.info(
				`Issue currency ${VIRTUAL_CURRENCY_NAME} with value ${convertedAmount} ${VIRTUAL_CURRENCY_NAME} - payment id: ${paymentId}`
			);

			const fee = getFee(convertedAmount);
			const netPaymentAmount = convertedAmount - fee;
			logger.info(
				`Calculated fee: ${fee} ${VIRTUAL_CURRENCY_NAME} and transaction amount: ${netPaymentAmount} ${VIRTUAL_CURRENCY_NAME} - payment id: ${paymentId}`
			);

			const feeTransaction = await sendVirtualCurrency({
				destinationAccountId: FEE_ACCOUNT_ID,
				amount: fee,
				type: "fee",
			});
			logger.info(
				`Sent ${fee} ${VIRTUAL_CURRENCY_NAME} to fee account: ${FEE_ACCOUNT_ID} - transaction id: ${feeTransaction.id} - payment id: ${paymentId}`
			);

			const sendTransaction = await sendVirtualCurrency({
				destinationAccountId,
				amount: netPaymentAmount,
				type: "deposit",
				related: [
					{
						value: feeTransaction.id,
						type: "fee",
					},
				],
			});
			logger.info(
				`Sent ${netPaymentAmount} ${VIRTUAL_CURRENCY_NAME} to alias: ${user.phoneNumber} with account: ${destinationAccountId} - transaction id: ${sendTransaction.id} - payment id: ${paymentId}`
			);

			const { reference } = await blockAmount(
				destinationAccountId,
				netPaymentAmount,
				VIRTUAL_CURRENCY_NAME
			);
			logger.info(
				`Blocked ${netPaymentAmount} ${VIRTUAL_CURRENCY_NAME} from account: ${destinationAccountId} - payment id: ${paymentId}`
			);
			<% if (isDatabaseEnabled) { %>
			await Account.create({
				accountId: destinationAccountId,
				blockageId: reference,
				amount,
			});
			logger.info(
				`Saved block amount for account: ${destinationAccountId} - payment id: ${paymentId}`
			);
			<% } %>
		}

		if (status !== PAYMENT_SUCCESS_CODE) {
			logger.info(
				`Payment failed with status: ${status} - payment id: ${paymentId}`
			);

			await sendWhatsappMessage(identity.id, {
				templateName: TEMPLATE_TRANSACTION_FAILED,
				templateData: {
					body: {
						placeholders: [paymentId],
					},
				},
				language: DEFAULT_WHATSAPP_TEMPLATE_LANGUAGE,
			});
			logger.info(
				`Sent whatsapp message to identity: ${identity.id} with payment id: ${paymentId}`
			);
		}

		res.sendStatus(HttpStatusCode.Ok);
	} catch (error) {
		if (error instanceof BaseError) {
			logger.error(`Error processing payment notification: ${error.toString()}`);
		} else {
			logger.error(
				`Error processing payment notification: ${JSON.stringify(error.stack)}`
			);
		}

		// @todo: sending 200 status code to the caller
		// we need to see how to handle retries cause the caller will try to retry
		// the request few times before giving up
		res.sendStatus(HttpStatusCode.Ok);
	}
};

function sendVirtualCurrency({
	destinationAccountId,
	amount,
	related = null,
	type,
}) {
	return sendTransaction({
		source: {
			account: VIRTUAL_CURRENCY_ACCOUNT_ID,
		},
		destination: {
			account: destinationAccountId,
		},
		type,
		value: amount,
		asset: VIRTUAL_CURRENCY_NAME,
		...(related && { related }),
	});
}

function mapPaymentNotificationBody(data) {
	return {
		status: data.error_code,
		paymentId: data.numero_orden,
		amount: data.valor,
		sourceAsset: data.moneda,
		user: {
			phoneNumber: data.concepto,
		},
	};
}

function getFee(totalAmount) {
	const fee = (FEE * totalAmount) / 100;
	return Number(fee.toFixed(2, 10));
}

module.exports = paymentNotification;
